<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>{{title}}</title>
    <base href="/"></base>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta name="keywords" content="startup,jobs,india,best">
    <meta name="description" content="{{title}} - Best site for startup jobs in india.">

    <link href="/img/icons/favicon.ico" rel="shortcut icon" type="image/x-icon">

    {% if (process.env.NODE_ENV == 'production') %}
        <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    {% endif %}

    <!--<meta property="fb:app_id" content="APP_ID">
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="MEAN - A Modern Stack: MongoDB, ExpressJS, AngularJS, NodeJS. (BONUS: Passport User Support).">
    <meta property="og:type" content="website">
    <meta property="og:url" content="APP_URL">
    <meta property="og:image" content="APP_LOGO">
    <meta property="og:site_name" content="MEAN - A Modern Stack">
    <meta property="fb:admins" content="APP_ADMIN">-->

    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap-responsive.css"> -->
    <link rel="stylesheet" href="/css/style.css">
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
