section.container ng-controller="BoardController" ng-init="findOne()" 
  h2.col-md-12  
    | {{article.title}} 
  .col-md-12
    | {{article.created | date:'medium'}}
  .col-md-12
    | {{article.tags | date:'medium'}}
  div ng-show="{{global.user._id == article.user._id}}"
    a.btn ng-href="/job/{{article._id}}/edit" 
      i.glyphicon.glyphicon-edit
    a.btn ng-click="remove();" 
      i.glyphicon.glyphicon-trash
  .col-md-12  
    | {{article.startup}} 
  a.col-md-12 ng-href="{{article.website}}"
    | {{article.website}} 
  p.col-md-12
    | {{article.description}}
  p.col-md-12
    | {{article.applyInstructions}}