section.boards.container
  ul.boards.row
    li.col-md-3.col-sm-6.col-xs-12
      a href="#"
        span.date Jun 10 2013
        h3 Looking for a frontend ninja at a funded startup 
        span.location Mumbai
    li.col-md-3.col-sm-6.col-xs-12
      a href="#"
        span.date Jun 10 2013
        h3 Looking for a frontend ninja at a funded startup 
        span.location Mumbai
    li.col-md-3.col-sm-6.col-xs-12
      a href="#"
        span.date Jun 10 2013
        h3 Looking for a frontend ninja at a funded startup 
        span.location Mumbai
    li.col-md-3.col-sm-6.col-xs-12
      a href="#"
        span.date Jun 10 2013
        h3 Looking for a frontend ninja at a funded startup 
        span.location Mumbai
    li.col-md-3.col-sm-6.col-xs-12
      a href="#"
        span.date Jun 10 2013
        h3 Looking for a frontend ninja at a funded startup 
        span.location Mumbai
    li.col-md-3.col-sm-6.col-xs-12
      a href="#"
        span.date Jun 10 2013
        h3 Looking for a frontend ninja at a funded startup 
        span.location Mumbai
