{% extends '../layouts/default.html' %}

{% block content %}
    <div class="container">
        <div class="col-md-6 social-login-btns">
            <h6>Login with</h6>
            <a class="facebook" href="/auth/facebook">
                <i class="fa fa-facebook"></i>
            </a>
            <a class="twitter" href="/auth/twitter">
                <i class="fa fa-twitter"></i>
            </a>
            <a class="github" href="/auth/github">
                <i class="fa fa-github"></i>
            </a>
            <a class="gplus" href="/auth/google">
                <i class="fa fa-google-plus"></i>
            </a>
            <a class="linkedin" href="/auth/linkedin">
                <i class="fa fa-linkedin"></i>
            </a>
        </div>
        <div class="col-md-6">
            {% if message && message.length  %}
            <div class="fade in alert alert-error col-md-offset-4 col-md-8">
                <button class="close" data-dismiss="alert">&times;</button>
                <div class="strong">
                    {{ message }}
                </div>
                <script type="text/javascript">
                    window.loginMessage = '{{message}}';
                </script>
            </div>
            {% endif %}
            {% block auth %}{% endblock %}
        </div>
    </div>
{% endblock %}
