@import "partials/base";

header {

	.navbar-default .navbar-brand {
    color: $linkBlue;
	}
	
	h1.logo {
		text-transform: uppercase;
		margin: 0;
    font-size: $h3;

		small {
			font-size: 100%;
			color: $radiantOrchid;
		}
	}

}